<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="edit-resource-form">
                <div class="form-group">
                    <label for="resource-berth-unit">Kohde</label>
                    <select name="unit" class="form-control" id="resource-berth-unit">
                        <% unit_collection.each(function(unit) { %>
                            <%if(resource.getUnitId() == unit.getId()) {%>
                                <option selected value="{{unit.getId()}}">{{unit.getName()}}</option>
                            <%} else {%>
                                <option value="{{unit.getId()}}">{{unit.getName()}}</option>
                            <%}%>
                        <%})%>
                    </select>
                </div>

                <div class="form-group">
                    <label for="resource-berth-name">Venepaikka</label>
                    <input name="name" type="text" class="form-control required" id="resource-berth-name required" value="{{resource.getName()}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-description">Lisätiedot</label>
                    <textarea name="description" id="resource-description" class="form-control" rows="3">{{resource.getDescription()}}</textarea>
                </div>

                <div class="form-group">
                    <label for="resource-berth-price">Hinta (euroa)</label>
                    <input min="0" name="price" type="number" step=".01" class="form-control required berth-price" id="resource-berth-price" value="{{resource.getPrice()}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-length">Pituus (metriä)</label>
                    <input min="0" max="10" name="length_cm" type="number" step=".01" class="form-control berth-size" id="resource-berth-length" value="{{resource.getLength('.')}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-width">Leveys (metriä)</label>
                    <input min="0" max="10" name="width_cm" type="number" step=".01" class="form-control berth-size" id="resource-berth-width" value="{{resource.getWidth('.')}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-depth">Syväys (metriä)</label>
                    <input min="0" max="10" name="depth_cm" type="number" step=".01" class="form-control berth-size" id="resource-berth-depth" value="{{resource.getDepth('.')}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-type">Tyyppi</label>
                    <select name="type" class="form-control" id="resource-berth-type">
                        <%if(resource.getType() == 'dock') {%>
                            <option selected value="dock">Laituripaikka</option>
                        <%} else {%>
                            <option value="dock">Laituripaikka</option>
                        <%}%>

                        <%if(resource.getType() == 'ground') {%>
                            <option selected value="ground">Polettipaikka</option>
                        <%} else {%>
                            <option value="ground">Polettipaikka</option>
                        <%}%>

                        <%if(resource.getType() == 'number') {%>
                            <option selected value="number">Numeropaikka</option>
                        <%} else {%>
                            <option value="number">Numeropaikka</option>
                        <%}%>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <%if(resource.isDisabled()) {%>
                            <input checked name="is_disabled" type="checkbox" class="checkbox"> Pois käytöstä
                        <%}else{%>
                            <input name="is_disabled" type="checkbox" class="checkbox"> Pois käytöstä
                        <%}%>
                    </label>
                </div>
              <button id="resource-submit" class="btn btn-primary submit-button">Tallenna</button>
              <button id="resource-delete" class="btn btn-danger submit-button">Poista</button>
              <button id="resource-cancel" class="btn btn-default submit-button pull-right">Peruuta</button>
            </form>
        </div>
    </div>
</div>
