<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="new-resource-ground-form">
                <div class="form-group">
                    <label for="resource-berth-unit">Kohde</label>
                    <select readonly name="unit" class="form-control" id="resource-berth-unit">
                        <% unit_collection.each(function(unit) { %>
                            <%if (unit.getName() == "Polettipaikat"){%>
                                <option value="{{unit.getId()}}">{{unit.getName()}}</option>
                            <%}%>
                        <%})%>
                    </select>
                </div>

                <%if(currentUser) {%>
                    <div class="form-group">
                        <label for="resource-berth-name">Numero</label>
                        <input name="name" type="text" class="form-control required" id="resource-berth-name">
                        <span class="error"><p class="text-danger"></p></span>
                    </div>

                    <div class="form-group">
                        <label for="resource-description">Lisätiedot</label>
                        <textarea name="description" id="resource-description" class="form-control" rows="3"></textarea>
                    </div>
                <%}%>

                <div class="form-group">
                    <label for="resource-berth-price">Hinta (euroa)</label>
                    <input readonly min="0" name="price" type="number" step=".01" class="form-control required berth-price" id="resource-berth-price" value="{{price}}">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-type">Tyyppi</label>
                    <select readonly name="type" class="form-control" id="resource-berth-type">
                        <option value="ground">Polettipaikka</option>
                    </select>
                </div>

                  <h3>Varauksen tekijän tiedot</h3>
                        <div class="form-group">
                            <label for="reservation-reserver-name">Nimi</label>
                            <input name="reserver_name" type="text" class="form-control required" id="reservation-reserver-name">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>

                        <div class="form-group">
                            <label for="reservation-reserver-email">Sähköpostiosoite</label>
                            <input name="reserver_email_address" type="email" class="form-control" id="reservation-reserver-email">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>

                        <div class="form-group">
                            <label for="reservation-reserver-phone">Puhelinnumero</label>
                            <input name="reserver_phone_number" type="number" class="form-control required" id="reservation-reserver-phone">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>

                        <div class="form-group">
                            <label for="reservation-reserver-address">Katuosoite</label>
                            <input name="reserver_address_street" type="text" class="form-control required" id="reservation-reserver-address">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>

                        <div class="form-group">
                            <label for="reservation-reserver-city">Kaupunki</label>
                            <input name="reserver_address_city" type="text" class="form-control required" id="reservation-reserver-city">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>

                        <div class="form-group">
                            <label for="reservation-reserver-zip">Postinumero</label>
                            <input name="reserver_address_zip" type="number" class="form-control required" id="reservation-reserver-zip">
                            <span class="error"><p class="text-danger"></p></span>
                        </div>



                <button id="resource-submit" type="submit" class="btn btn-default submit-button">
                    <%if(currentUser) {%>
                        Lisää polettipaikka
                    <%}else{%>
                        Maksa varaus
                    <%}%>
                </button>
            </form>
        </div>
    </div>
</div>
