<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<h3>Uusi varaus</h3>
		</div>
		<div class="col-md-6">
			<h4>Varaaja</h4>
			<form id="new-reservation-form">
				<div class="form-group">
					<label for="reservation-reserver-name">Nimi</label>
					<input name="reserver_name" type="text" class="form-control required" id="reservation-reserver-name">
					<span class="error"><p class="text-danger"></p></span>
				</div>
				<div class="form-group">
					<label for="reservation-reserver-email">Sähköpostiosoite</label>
					<input name="reserver_email_address" type="email" class="form-control" id="reservation-reserver-email">
				</div>
				<div class="form-group">
					<label for="reservation-reserver-phone">Puhelinnumero</label>
					<input name="reserver_phone_number" type="number" class="form-control" id="reservation-reserver-phone">
				</div>
				<div class="form-group">
					<label for="reservation-reserver-address">Katuosoite</label>
					<input name="reserver_address_street" type="text" class="form-control" id="reservation-reserver-address">
				</div>
				<div class="form-group">
					<label for="reservation-reserver-zip">Postinumero</label>
					<input name="reserver_address_zip" type="number" class="form-control" id="reservation-reserver-zip">
				</div>
				<div class="form-group">
					<label for="reservation-description">Lisätiedot</label>
					<textarea name="event_description" id="reservation-description" class="form-control" rows="3"></textarea>
				</div>
				<button id="reservation-submit" type="submit" class="btn btn-default submit-button">Lisää varaus</button>
			</form>
		</div>

	  <div class="col-md-6">
			<h4>Venepaikka</h4>
      <div class="form-group">
        <label for="filter-resource-unit">Kohde</label>
        <select name="unit_id" class="form-control filter-input" id="filter-resource-unit">
          <option value="">Kaikki kohteet</option>
          <% unit_collection.each(function(unit) {%>
            <%if(filters.unit_id == unit.getId()) {%>
              <option value="{{unit.getId()}}" selected>{{unit.getName()}}</option>
            <%} else {%>
              <option value="{{unit.getId()}}">{{unit.getName()}}</option>
            <%}%>
          <%})%>
        </select>
      </div>
      <div class="form-group">
        <label for="filter-resource-unit">Tyyppi</label>
        <select name="type" class="form-control filter-input" id="filter-resource-unit">
          <option value="">Kaikki tyypit</option>
          <%if(filters.type == 'dock') {%>
              <option selected value="dock">Vain laituripaikat</option>
          <%}else{%>
              <option value="dock">Vain laituripaikat</option>
          <%}%>

          <%if(filters.type == 'ground') {%>
              <option selected value="ground">Vain polettipaikat</option>
          <%}else{%>
              <option value="ground">Vain polettipaikat</option>
          <%}%>

          <%if(filters.type == 'number') {%>
              <option selected value="number">Vain numeropaikat</option>
          <%}else{%>
              <option value="number">Vain numeropaikat</option>
          <%}%>
        </select>
      </div>
      <div class="form-group">
        <label class="dimension-label" for="filter-resource-max-width">Leveys</label>
        <div>
          <input name="min_width" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-min-width" value="{{cmToMeters(filters.min_width)}}"> -
          <input name="max_width" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-max-width" value="{{cmToMeters(filters.max_width)}}">
        </div>
      </div>
      <div class="form-group">
        <label class="dimension-label" for="filter-resource-max-length">Pituus</label>
        <div>
          <input name="min_length" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-min-length" value="{{cmToMeters(filters.min_length)}}"> -
          <input name="max_length" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-max-length" value="{{cmToMeters(filters.max_length)}}">
        </div>
      </div>
      <div class="form-group">
        <label class="dimension-label" for="filter-resource-max-depth">Syväys</label>
        <div>
          <input name="min_depth" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-min-depth" value="{{cmToMeters(filters.min_depth)}}"> -
          <input name="max_depth" min="0" type="number" step=".1" class="form-control filter-input float-filter" id="filter-resource-max-depth" value="{{cmToMeters(filters.max_depth)}}">
        </div>
      </div>
			<button class="btn btn-primary" id="filter-search">Hae</button>
		</div>
	</div>
</div>