<%if(currentUser){%>
	<td class="hide-in-mobile hide-in-tablet">{{model.getBeginTimeFinnish()}}</td>
	<td class="hide-in-mobile hide-in-tablet">{{model.getEndTimeFinnish()}}</td>
	<td>{{unit_model.getName()}}</td>
	<td>{{resource_model.getName()}}</td>
	<td>{{model.getReserverName()}}</td>
	<%if(!model.getKeyReturned() && model.getHasEnded() || !model.getKeyReturned() && model.isCancelled()){%>
		<td class="hide-in-mobile">{{model.getStateFinnish()}}, Avain palauttamatta</td>
	<%}else{%>
		<td class="hide-in-mobile">{{model.getStateFinnish()}}</td>
	<%}%>
	<td class="reservation-is-paid hide-in-mobile hide-in-tablet">
		<label class="switch reservation-is-paid">
		<%if(model.getIsPaid()) {%>
			<input type="checkbox" class="reservation-is-paid" checked>
		<%}else{%>
			<input type="checkbox" class="reservation-is-paid">
		<%}%>
	  	<div class="slider round reservation-is-paid"></div>
		</label>
	</td>
<%}%>