<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="new-resource-form">
                <div class="form-group">
                    <label for="resource-berth-unit">Kohde</label>
                    <select name="unit" class="form-control" id="resource-berth-unit">
                        <% unit_collection.each(function(unit) { %>
                            <option value="{{unit.getId()}}">{{unit.getName()}}</option>
                        <%})%>
                    </select>
                </div>

                <div class="form-group">
                    <label for="resource-berth-name">Venepaikka</label>
                    <input name="name" type="text" class="form-control required" id="resource-berth-name">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-description">Lisätiedot</label>
                    <textarea name="description" id="resource-description" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="resource-berth-price">Hinta (euroa)</label>
                    <input min="0" name="price" type="number" step=".01" class="form-control required berth-price" id="resource-berth-price" value="0.00">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-length">Pituus (metriä)</label>
                    <input min="0" max="10" name="length_cm" type="number" step=".01" class="form-control berth-size" id="resource-berth-length">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-width">Leveys (metriä)</label>
                    <input min="0" max="10" name="width_cm" type="number" step=".01" class="form-control berth-size berth-size" id="resource-berth-width">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-depth">Syväys (metriä)</label>
                    <input min="0" max="10" name="depth_cm" type="number" step=".01" class="form-control berth-size" id="resource-berth-depth">
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                    <label for="resource-berth-type">Tyyppi</label>
                    <select name="type" class="form-control" id="resource-berth-type">
                        <option value="dock">Laituripaikka</option>
                        <option value="number">Numeropaikka</option>
                    </select>
                </div>

              <button id="resource-submit" type="submit" class="btn btn-default submit-button">Lisää venepaikka</button>
            </form>
        </div>
    </div>
</div>
