<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="edit-reservation-form">
                <h3>Varauksen tiedot</h3>
                <div class="form-group">
                  <label for="reservation-resource">Varauskohde</label>
                <select name="resource" class="form-control" id="reservation-resource">
                  <% boat_resource_collection.forEach(function(resource) { %>
                      <%if(reservation.getResourceId() == resource.getId()) {%>
                          <option selected value="{{resource.getId()}}">{{getUnitName(resource.getUnitId())}} ({{resource.getName()}})</option>
                      <%} else {%>
                          <option value="{{resource.getId()}}">{{getUnitName(resource.getUnitId())}} ({{resource.getName()}})</option>
                      <%}%>
                  <%})%>
                </select>
                </div>
                <div class="form-group">
                  <label for="reservation-begin">Aloitusaika</label>
                    <div class='input-group date required' id='reservation-begin-datepicker'>
                        <input name="begin" id="reservation-begin" type='text' class="form-control" value="{{reservation.getBeginTimeFinnish()}}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                  <label for="reservation-end">Lopetusaika</label>
                    <div class='input-group date required' id='reservation-end-datepicker'>
                        <input name="end" id="reservation-end" type='text' class="form-control" value="{{reservation.getEndTimeFinnish()}}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span class="error"><p class="text-danger"></p></span>
                </div>
                <div class="form-group">
                  <label for="reservation-description">Lisätiedot</label>
                  <textarea name="event_description" id="reservation-description" class="form-control" rows="3">{{reservation.getDescription()}}</textarea>
                </div>
                <h3>Varauksen tekijän tiedot</h3>
                <div class="form-group">
                  <label for="reservation-reserver-name">Nimi</label>
                  <input name="reserver_name" type="text" class="form-control required" id="reservation-reserver-name" value="{{reservation.getReserverName()}}">
                  <span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                  <label for="reservation-reserver-email">Sähköpostiosoite</label>
                  <input name="reserver_email_address" type="email" class="form-control" id="reservation-reserver-email" value="{{reservation.getReserverEmail()}}">
        					<span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                  <label for="reservation-reserver-phone">Puhelinnumero</label>
                  <input name="reserver_phone_number" type="tel" class="form-control" id="reservation-reserver-phone" value="{{reservation.getReserverPhone()}}">
        					<span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                  <label for="reservation-reserver-address">Katuosoite</label>
                  <input name="reserver_address_street" type="text" class="form-control" id="reservation-reserver-address" value="{{reservation.getReserverAddress()}}">
        					<span class="error"><p class="text-danger"></p></span>
                </div>

                <div class="form-group">
                  <label for="reservation-reserver-zip">Postinumero</label>
                  <input min="0" name="reserver_address_zip" type="number" class="form-control" id="reservation-reserver-zip" value="{{reservation.getReserverZip()}}">
        					<span class="error"><p class="text-danger"></p></span>
                </div>
                <button id="reservation-submit" class="btn btn-primary submit-button">Tallenna</button>
                <button id="reservation-cancel" class="btn btn-default submit-button pull-right">Peruuta</button>
            </form>
        </div>
    </div>
</div>
