<div class="form row filter-row">
    <div style="padding-left:0;" class="col-md-6">
      <div class="form-group">
          <select name="unit_id" class="form-control filter-input" id="filter-resource-unit">
              <option value="">Kaikki kohteet</option>
              <% unit_collection.each(function(unit) {%>
                  <%if(unit.getName().toLowerCase().indexOf('poletti') > -1) return;%>
                  <%if(filters.unit_id == unit.getId()) {%>
                      <option value="{{unit.getId()}}" selected>{{unit.getName()}}</option>
                  <%} else {%>
                      <option value="{{unit.getId()}}">{{unit.getName()}}</option>
                  <%}%>
              <%})%>
          </select>
      </div>
    </div>
</div>
