<tr>
	<th class="hide-in-mobile hide-in-tablet" name="reservation__begin">Alkaa <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile hide-in-tablet" name="reservation__end">Päättyy <span class="ordering-icon glyphicon"></span></th>
	<th name="reservation__resource__unit__name">Varauskohde <span class="ordering-icon glyphicon"></span></th>
	<th name="reservation__resource__name">Venepaikka <span class="ordering-icon glyphicon"></span></th>
	<th name="reservation__reserver_name">Varaaja <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile" name="reservation__state">Tila <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile hide-in-tablet" name="is_paid">Maksettu <span class="ordering-icon glyphicon"></span></th>
</tr>
