<div class="container-fluid">
	<div class="row">
	    <div class="col-md-6">
			<form id="new-reservation-form">
				<h3>Varauksen tiedot</h3>
			  	<div class="form-group">
			    	<label for="reservation-resource">Varauskohde</label>
                    <p>{{getUnitName(boat_resource_collection.getByResourceId(resource_id).getUnitId())}} ({{boat_resource_collection.getByResourceId(resource_id).getName()}})</p>
			  	</div>
				<div class="form-group">
					<label for="reservation-begin">Aloitusaika</label>
				    <div class='input-group date required' id='reservation-begin-datepicker'>
				        <input name="begin" id="reservation-begin" type='text' class="form-control" />
				        <span class="input-group-addon">
				            <span class="glyphicon glyphicon-calendar"></span>
				        </span>
				    </div>
				    <span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-end">Lopetusaika</label>
				    <div class='input-group date required' id='reservation-end-datepicker'>
				        <input name="end" id="reservation-end" type='text' class="form-control" />
				        <span class="input-group-addon">
				            <span class="glyphicon glyphicon-calendar"></span>
				        </span>
				    </div>
				    <span class="error"><p class="text-danger"></p></span>
				</div>
			  	<div class="form-group">
			    	<label for="reservation-description">Lisätiedot</label>
					<textarea name="event_description" id="reservation-description" class="form-control" rows="3"></textarea>
			  	</div>
			  	<h3>Varauksen tekijän tiedot</h3>

				<div class="form-group">
					<label for="reservation-reserver-firstname">Etunimi</label>
					<input name="reserver_firstname" type="text" class="form-control required" id="reservation-reserver-firstname">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-lastname">Sukunimi</label>
					<input name="reserver_lastname" type="text" class="form-control required" id="reservation-reserver-lastname">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-email">Sähköpostiosoite</label>
					<input name="reserver_email_address" type="email" class="form-control" id="reservation-reserver-email">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-phone">Puhelinnumero</label>
					<input name="reserver_phone_number" type="tel" class="form-control required" id="reservation-reserver-phone">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-address">Katuosoite</label>
					<input name="reserver_address_street" type="text" class="form-control required" id="reservation-reserver-address">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-city">Kaupunki</label>
					<input name="reserver_address_city" type="text" class="form-control required" id="reservation-reserver-city">
					<span class="error"><p class="text-danger"></p></span>
				</div>

				<div class="form-group">
					<label for="reservation-reserver-zip">Postinumero</label>
					<input min="0" name="reserver_address_zip" type="number" class="form-control required" id="reservation-reserver-zip">
					<span class="error"><p class="text-danger"></p></span>
				</div>

			  <button id="reservation-submit" type="submit" class="btn btn-default submit-button">Lisää varaus</button>
			</form>
		</div>
		<div class="col-md-6">
            <p id="reservation-countdown-wrapper">Varausaikaa jäljellä: <span id="reservation-countdown">15m 00s</span></p>
            <p>Venepaikka pysyy sinulle varattuna 15 minuuttia. Mikäli aika loppuu tai varaus keskeytyy, venepaikka palaa taas kaikille varattavaksi.</p>
		</div>
	</div>
</div>
