<td class="clickable">{{model.getName()}}</td>
<td class="clickable">{{unit.getName()}}</td>
<td class="clickable hide-in-mobile">{{model.getTypeFinnish()}}</td>
<td class="clickable hide-in-mobile">{{model.getPriceFinnish()}}</td>
<td class="clickable hide-in-mobile hide-in-tablet">{{model.getLength()}}</td>
<td class="clickable hide-in-mobile hide-in-tablet">{{model.getWidth()}}</td>
<td class="unclickable">
  <%if(model.isReserved()){%>
    Varattu
  <%}else{%>
    <button id="resource-new-reservation" class="btn new-object-button reserve">Varaa</button>
  <%}%>
</td>
