<tr>
	<th name="resource__name">Venepaikka <span class="ordering-icon glyphicon"></span></th>
	<th name="resource__unit__name">Kohde <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile" name="type">Tyyppi <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile" name="price">Hinta <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile hide-in-tablet" name="length_cm">Pituus <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile hide-in-tablet" name="width_cm">Leveys <span class="ordering-icon glyphicon"></span></th>
	<th>Varattu</th>
</tr>
