<%if(currentUser == undefined){%>
	<button id="boat-resources-free" class="btn pull-right new-object-button">Tee uusi varaus</button>
<%}%>

<div class="container-fluid">
	<div class="row manage-view-container">
		<div class="col-md-4">
			<div id="boat-resources-total">
				<p class="manage-view-header">Venepaikat</p>
				<p class="manage-view-count">{{data.boat_resources}}</p>
			</div>
		</div>
		<div class="col-md-4">
			<div id="boat-resources-free">
				<p class="manage-view-header">Vapaat venepaikat</p>
				<p class="manage-view-count">{{data.free_boat_resources}}</p>
			</div>
		</div>
		<%if(currentUser){%>
			<div class="col-md-4">
				<div id="boat-reservations-current-future">
					<p class="manage-view-header">Nykyiset varaukset</p>
					<p class="manage-view-count">{{data.current_reservations}}</p>
				</div>
			</div>
		<%}%>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div>
			</div>
		</div>
		<div class="col-md-4">
			<div>
			</div>
		</div>
		<div class="col-md-4">
			<div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="map">
				<div id="filter-container"></div>
			</div>
		</div>
	</div>
</div>
