<div class="list-header-row">
		<span class="list-header-text">
			<%if(content_type == 'boatReservations') {%>
				Varaukset
			<%}else if(content_type == 'boatResources'){%>
				Venepaikat
			<%}else if(content_type == 'units'){%>
				Kohteet
			<%}%>
		</span>

		<%if(content_type == 'boatResources' && currentUser){%>
			<a href="#boat-resource-new" class="btn pull-right new-object-button">Uusi venepaikka</a>
			<a href="#boat-resource-ground-new" class="btn pull-right new-object-button">Luo uusi polettipaikka</a>
		<%}else if(content_type == 'boatResources' && !currentUser){%>
			<a href="#boat-resource-ground-new" class="btn pull-right new-object-button">Varaa polettipaikka</a>
		<%}else if(content_type == 'units' && currentUser){%>
			<a href="#unit-new" class="btn pull-right new-object-button">Uusi kohde</a>
		<%}%>

</div>
<div id="filter-container"></div>
<div class="table-container">
	<table class="table table-hover table-responsive">
		<thead>
		</thead>
		<tbody id="content-body">
		</tbody>
	</table>
</div>

<%if(content_type == 'boatReservations' || content_type == 'boatResources'){%>
	<div class="pagination-container">
		<ul class="pagination">
			<li class="page-item"><span id="pagination-previous" class="page-link" href="#">Edellinen</span></li>
			<li class="page-item"><span id="pagination-page" class="page-link">{{currentPage}}</span></li>
			<li class="page-item"><span id="pagination-next" class="page-link" href="#">Seuraava</span></li>
		</ul>
	</div>
<%}%>
