<%if(errorArray.length) {%>
	<p>Tietojen tallentaminen epäonnistui seuraavista syistä:</p>
	<table class="table table-responsive">
		<thead>
			<tr>
				<%if(currentUser.is_superuser){%>
					<th>Kohde</th>
					<th>Kenttä</th>
				<%}%>
				<th>Syy</th>
			</tr>
		</thead>
		<tbody>
			<%errorArray.forEach(function(error) {%>
				<tr>
					<%if(currentUser.is_superuser){%>
						<td>{{error.obj}}</td>
						<td>{{error.field}}</td>
					<%}%>
					<td>{{error.err}}</td>
				</tr>
			<%})%>
		</tbody>
	</table>
<%}else{%>
	<p>Muutoksen tallentaminen epäonnistui tuntemattomasta syystä. Yritä myöhemmin uudelleen.</p>
<%}%>
