<% if(filters.show) {%>
<div id="filters" class="collapse in container-fluid">
<%}else{%>
<div id="filters" class="collapse container-fluid">
<%}%>
    <div class="form row filter-row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="filter-search">Haku</label>
                <div class="input-group">
                  <input name="search" type="text" type="text" class="form-control filter-input" placeholder="Etsi" value="{{filters.search}}">
                  <span class="btn input-group-addon" id="filter-search">Hae</span>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <%if(filters.show_cancelled) {%>
                        <input checked name="show_cancelled" type="checkbox" class="filter-input checkbox"> Näytä myös peruutetut varautukset
                    <%}else{%>
                        <input name="show_cancelled" type="checkbox" class="filter-input checkbox"> Näytä myös peruutetut varautukset
                    <%}%>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="filter-date-type">Päivämääräsuodatuksen tyyppi</label>
                <select id="filter-date-type" name="date_filter_type" class="form-control filter-input">
                    <%if(!filters.date_filter_type) {%>
                        <option selected value="">Varaus aikavälillä</option>
                    <%} else {%>
                        <option value="">Varaus aikavälillä</option>
                    <%}%>
                    <%if(filters.date_filter_type == 'begin') {%>
                        <option selected value="begin">Varaus alkaa</option>
                    <%} else {%>
                        <option value="begin">Varaus alkaa</option>
                    <%}%>
                    <%if(filters.date_filter_type == 'end') {%>
                        <option selected value="end">Varaus päättyy</option>
                    <%} else {%>
                        <option value="end">Varaus päättyy</option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="reservation-begin">Alkaen</label>
                <div class='input-group date' id='reservation-begin-datepicker'>
                    <input name="begin" id="reservation-begin" type='text' class="form-control" value="{{isoToFinnishDate(filters.begin)}}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="reservation-end">Päättyen</label>
                <div class='input-group date' id='reservation-end-datepicker'>
                    <input name="end" id="reservation-end" type='text' class="form-control" value="{{isoToFinnishDate(filters.end)}}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="filter-resource-unit">Kohde</label>
                <select name="unit_id" class="form-control filter-input" id="filter-resource-unit">
                    <option value="">Kaikki kohteet</option>
                    <% unit_collection.each(function(unit) {%>
                        <%if(filters.unit_id == unit.getId()) {%>
                            <option value="{{unit.getId()}}" selected>{{unit.getName()}}</option>
                        <%} else {%>
                            <option value="{{unit.getId()}}">{{unit.getName()}}</option>
                        <%}%>
                    <%})%>
                </select>
            </div>
            <div class="form-group">
                <label for="filter-reservation-ispaid">Maksettu</label>
                <select name="is_paid" class="form-control filter-input" id="filter-reservation-ispaid">
                    <%if(!filters.is_paid) {%>
                        <option value="" selected>Näytä kaikki</option>
                    <%} else {%>
                        <option value="">Näytä kaikki</option>
                    <%}%>

                    <%if(filters.is_paid === "True") {%>
                        <option value="True" selected>Näytä vain maksetut</option>
                    <%} else {%>
                        <option value="True">Näytä vain maksetut</option>
                    <%}%>

                    <%if(filters.is_paid === "False") {%>
                        <option value="False" selected>Näytä vain maksamattomat</option>
                    <%} else {%>
                        <option value="False">Näytä vain maksamattomat</option>
                    <%}%>
                </select>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary" role="button" id="show-filters" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters">
<%if(filters.show) {%>
    Piilota suodattimet
<%}else{%>
    Näytä suodattimet
<%}%>
</a>
<button class="btn btn-primary" id="filter-clear">Tyhjennä suodattimet</button>
