<div class="container-fluid">
    <div class="form form row filter-row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="filter-search">Haku</label>
                <div class="input-group">
                  <input name="search" type="text" type="text" class="form-control filter-input" placeholder="Etsi" value="{{filters.search}}">
                  <span class="btn input-group-addon" id="filter-search">Hae</span>
                </div>
            </div>
        </div>
    </div>
</div>
