<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="new-unit-form">
                <div class="form-group">
                    <label for="unit-name">Nimi</label>
                    <input name="name" type="text" class="form-control required" id="unit-name">
                    <span class="error"><p class="text-danger"></p></span>
                </div>
                <div class="form-group">
                    <label for="unit-address">Katuosoite</label>
                    <input name="street_address" type="text" class="form-control" id="unit-address">
                </div>
                <div class="form-group">
                    <label for="unit-zip">Postinumero</label>
                    <input min="0" name="address_zip" type="number" class="form-control" id="unit-zip">
                </div>
                <div class="form-group">
                    <label for="unit-email">Sähköpostiosoite</label>
                    <input name="email" type="email" class="form-control" id="unit-email">
                </div>
                <div class="form-group">
                    <label for="unit-phone">Puhelinnumero</label>
                    <input min="0" name="phone" type="number" class="form-control" id="unit-phone">
                </div>
                <div class="form-group">
                    <label for="unit-location">Sijainti</label>
                    <input disabled name="location" type="text" class="form-control" id="unit-location" value="">
                </div>
                <div class="form-group">
                    <label for="unit-description">Kuvaus</label>
                    <textarea name="description" class="form-control" id="unit-description" value=""></textarea>
                </div>
              <button id="unit-submit" type="submit" class="btn btn-default submit-button">Lisää kohde</button>
            </form>
        </div>
        <div class="col-md-6 map-container">
            <div id="map" style="height:400px;"></div>
            <p>Ohje: Aseta kohteen sijainti napauttamalla karttaa</p>
        </div>
    </div>
</div>
