<tr>
	<th name="name">Nimi <span class="ordering-icon glyphicon"></span></th>
	<th class="hide-in-mobile" name="street_address">Osoite<span class="ordering-icon glyphicon"></span></th>
	<th>Venepaikkoja</th>
</tr>