<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Kohde</strong></h3>
            <dl class="dl-horizontal align-left">
                <dt>Nimi</dt>
                <dd>{{unit.getName()}}</dd>

                <dt>Osoite</dt>
                <dd>{{unit.getStreetAddress()}}</dd>

                <dt>Postinumero</dt>
                <dd>{{unit.getZip()}}</dd>

                <dt>Sähköpostiosoite</dt>
                <dd>{{unit.getEmail()}}</dd>

                <dt>Puhelinnumero</dt>
                <dd>{{unit.getPhone()}}</dd>

                <dt>Kuvaus</dt>
                <dd>{{unit.getDescription()}}</dd>

                <dt>Vapaita venepaikkoja</dt>
                <dd>{{unit.getResourcesReservableCount()}}</dd>

                <dt>Venepaikkoja yhteensä</dt>
                <dd>{{unit.getResourcesCount()}}</dd>
            </dl>
        </div>
        <div class="col-md-6 map-container">
            <div id="map" style="height:400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%if(currentUser){%>
              <button id="unit-edit" class="btn btn-default edit-button">Muokkaa</button>
            <%}%>
        </div>
    </div>
</div>
